In [18]:
# 1. Import the pandas library with the pd alias
import pandas as pd
# 2. Check the version with the __version__ property
pd.__version__

'1.4.2'

In [19]:
pd.show_versions()

c:\Users\Stephanie Leiva\anaconda3\lib\site-packages\_distutils_hack\__init__.py:30: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit           : 4bfe3d07b4858144c219b9346329027024102ab6
python           : 3.9.12.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.22000
machine          : AMD64
processor        : Intel64 Family 6 Model 140 Stepping 1, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United States.1252

pandas           : 1.4.2
numpy            : 1.21.5
pytz             : 2021.3
dateutil         : 2.8.2
pip              : 21.2.4
setuptools       : 61.2.0
Cython           : 0.29.28
pytest           : 7.1.1
hypothesis       : None
sphinx           : 4.4.0
blosc            : None
feather          : None
xlsxwriter       : 3.0.3
lxml.etree       : 4.8.0
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 2.11.3
IPython          : 8.2.0
pandas_datareader: None
bs4              : 4.11.1
bottleneck       : 1.3.4
brotli           :
fastparquet      : None
fsspec           : 2022.02.0
gcsfs            : None
markupsafe       : 2.0.1
matplotlib       : 3.5.1
numba            : 0.55.1
numexpr          : 2.8.1
odfpy            : None
openpyxl         : 3.0.9
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : 1.7.3
snappy           :
sqlalchemy       : 1.4.32
tables           : 3.6.1
tabulate         : 0.8.9
xarray           : 0.20.1
xlrd             : 2.0.1
xlwt             : None
zstandard        : None

In [20]:
import pandas as pd

books = pd.read_csv('books.csv')

In [21]:
type(books)

pandas.core.frame.DataFrame

In [22]:
songs = pd.read_csv('top50.csv', encoding = 'latin1')

In [23]:
len(books)

10000

In [24]:
books.shape

(10000, 23)

In [25]:
books.columns

Index(['id', 'book_id', 'best_book_id', 'work_id', 'books_count', 'isbn',
       'isbn13', 'authors', 'original_publication_year', 'original_title',
       'title', 'language_code', 'average_rating', 'ratings_count',
       'work_ratings_count', 'work_text_reviews_count', 'ratings_1',
       'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'image_url',
       'small_image_url'],
      dtype='object')

In [26]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         10000 non-null  int64
 1   book_id                    10000 non-null  int64
 2   best_book_id               10000 non-null  int64
 3   work_id                    10000 non-null  int64
 4   books_count                10000 non-null  int64
 5   isbn                       9300 non-null   object
 6   isbn13                     9415 non-null   float64
 7   authors                    10000 non-null  object
 8   original_publication_year  9979 non-null   float64
 9   original_title             9415 non-null   object
 10  title                      10000 non-null  object
 11  language_code              8916 non-null   object
 12  average_rating             10000 non-null  float64
 13  ratings_count              10000 non-null  int64
 14  work_ratings_count         10000 non-null  int64
 15  work_text_reviews_count    10000 non-null  int64
 16  ratings_1                  10000 non-null  int64
 17  ratings_2                  10000 non-null  int64
 18  ratings_3                  10000 non-null  int64
 19  ratings_4                  10000 non-null  int64
 20  ratings_5                  10000 non-null  int64
 21  image_url                  10000 non-null  object
 22  small_image_url            10000 non-null  object
dtypes: float64(3), int64(13), object(7)
memory usage: 1.8+ MB

In [27]:
books.dtypes

id                             int64
book_id                        int64
best_book_id                   int64
work_id                        int64
books_count                    int64
isbn                          object
isbn13                       float64
authors                       object
original_publication_year    float64
original_title                object
title                         object
language_code                 object
average_rating               float64
ratings_count                  int64
work_ratings_count             int64
work_text_reviews_count        int64
ratings_1                      int64
ratings_2                      int64
ratings_3                      int64
ratings_4                      int64
ratings_5                      int64
image_url                     object
small_image_url               object
dtype: object

In [28]:
books = books[['title','authors','average_rating']]

In [29]:
books.head()

,title,authors,average_rating
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,4.34
1,Harry Potter and the Sorcerer's Stone (Harry P...,"J.K. Rowling, Mary GrandPré",4.44
2,"Twilight (Twilight, #1)",Stephenie Meyer,3.57
3,To Kill a Mockingbird,Harper Lee,4.25
4,The Great Gatsby,F. Scott Fitzgerald,3.89

In [30]:
books.head(3)

,title,authors,average_rating
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,4.34
1,Harry Potter and the Sorcerer's Stone (Harry P...,"J.K. Rowling, Mary GrandPré",4.44
2,"Twilight (Twilight, #1)",Stephenie Meyer,3.57

In [31]:
books.tail()

,title,authors,average_rating
9995,"Bayou Moon (The Edge, #2)",Ilona Andrews,4.09
9996,"Means of Ascent (The Years of Lyndon Johnson, #2)",Robert A. Caro,4.25
9997,The Mauritius Command,Patrick O'Brian,4.35
9998,Cinderella Ate My Daughter: Dispatches from th...,Peggy Orenstein,3.65
9999,The First World War,John Keegan,4.00

In [32]:
books.tail(3)

,title,authors,average_rating
9997,The Mauritius Command,Patrick O'Brian,4.35
9998,Cinderella Ate My Daughter: Dispatches from th...,Peggy Orenstein,3.65
9999,The First World War,John Keegan,4.00

In [33]:
len_to_exclude = len(books) - 3
books.head(-len_to_exclude)

,title,authors,average_rating
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,4.34
1,Harry Potter and the Sorcerer's Stone (Harry P...,"J.K. Rowling, Mary GrandPré",4.44
2,"Twilight (Twilight, #1)",Stephenie Meyer,3.57

In [34]:
books[:-len_to_exclude]

,title,authors,average_rating
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,4.34
1,Harry Potter and the Sorcerer's Stone (Harry P...,"J.K. Rowling, Mary GrandPré",4.44
2,"Twilight (Twilight, #1)",Stephenie Meyer,3.57

In [35]:
books.tail(-len_to_exclude)

,title,authors,average_rating
9997,The Mauritius Command,Patrick O'Brian,4.35
9998,Cinderella Ate My Daughter: Dispatches from th...,Peggy Orenstein,3.65
9999,The First World War,John Keegan,4.00

In [36]:
books[len_to_exclude:]

,title,authors,average_rating
9997,The Mauritius Command,Patrick O'Brian,4.35
9998,Cinderella Ate My Daughter: Dispatches from th...,Peggy Orenstein,3.65
9999,The First World War,John Keegan,4.00

In [37]:
books.authors.value_counts()

Stephen King                                                                                                                                                                                                                              60
Nora Roberts                                                                                                                                                                                                                              59
Dean Koontz                                                                                                                                                                                                                               47
Terry Pratchett                                                                                                                                                                                                                           42
Agatha Christie                                                                                                                                                                                                                           39
                                                                                                                                                                                                                                          ..
Ildefonso Falcones                                                                                                                                                                                                                         1
Jon Stewart, Rory Albanese, Kevin Bleyer, Rich Bloomquist, Steve Bodow, Tim Carvell, Wyatt Cenac, Hallie Haglund, J.R. Havlan, David Javerbaum, Elliott Kalan, Josh Lieb, Sam Means, Jo Miller, John Oliver, Daniel Radosh, Jason Ross     1
G. Norman Lippert                                                                                                                                                                                                                          1
Brother Andrew, Elizabeth Sherrill, John Sherrill                                                                                                                                                                                          1
John Keegan                                                                                                                                                                                                                                1
Name: authors, Length: 4664, dtype: int64

In [38]:
books[books.authors == 'Stephen King'].head()

                                   title       authors  average_rating
71          The Shining (The Shining #1)  Stephen King            4.17
175                                   It  Stephen King            4.18
231  The Gunslinger (The Dark Tower, #1)  Stephen King            3.99
236                               Carrie  Stephen King            3.93
242                               Misery  Stephen King            4.11

In [39]:
most_popular_books = books.average_rating.nlargest()

In [40]:
type(most_popular_books)

pandas.core.series.Series

In [41]:
most_popular_books.values

array([4.82, 4.77, 4.77, 4.76, 4.76])

In [42]:
most_popular_books.axes

[Int64Index([3627, 861, 3274, 7946, 8853], dtype='int64')]

In [43]:
books.index

RangeIndex(start=0, stop=10000, step=1)

In [44]:
for axis_value in most_popular_books.axes:
    print(books.iloc[axis_value].title)

3627                       The Complete Calvin and Hobbes
861        Words of Radiance (The Stormlight Archive, #2)
3274    Harry Potter Boxed Set, Books 1-5 (Harry Potte...
7946                                      ESV Study Bible
8853                             Mark of the Lion Trilogy
Name: title, dtype: object

In [45]:
books.nlargest(5, 'average_rating')

,title,authors,average_rating
3627,The Complete Calvin and Hobbes,Bill Watterson,4.82
861,"Words of Radiance (The Stormlight Archive, #2)",Brandon Sanderson,4.77
3274,"Harry Potter Boxed Set, Books 1-5 (Harry Potte...","J.K. Rowling, Mary GrandPré",4.77
7946,ESV Study Bible,"Anonymous, Lane T. Dennis, Wayne A. Grudem",4.76
8853,Mark of the Lion Trilogy,Francine Rivers,4.76

In [46]:
booksCollection = books[['title','authors','average_rating']]

In [47]:
booksCollection = booksCollection.set_index('title')

In [48]:
booksCollection.index

Index(['The Hunger Games (The Hunger Games, #1)',
       'Harry Potter and the Sorcerer's Stone (Harry Potter, #1)',
       'Twilight (Twilight, #1)', 'To Kill a Mockingbird', 'The Great Gatsby',
       'The Fault in Our Stars', 'The Hobbit', 'The Catcher in the Rye',
       'Angels & Demons  (Robert Langdon, #1)', 'Pride and Prejudice',
       ...
       'The Famished Road', 'The Red Knight (The Traitor Son Cycle, #1)',
       'The Time Traveller's Guide to Medieval England: A Handbook for Visitors to the Fourteenth Century',
       'The Everafter War (The Sisters Grimm, #7)', 'Billy Budd, Sailor',
       'Bayou Moon (The Edge, #2)',
       'Means of Ascent (The Years of Lyndon Johnson, #2)',
       'The Mauritius Command',
       'Cinderella Ate My Daughter: Dispatches from the Frontlines of the New Girlie-Girl Culture',
       'The First World War'],
      dtype='object', name='title', length=10000)

In [49]:
booksCollection.nlargest(5, 'average_rating').axes

[Index(['The Complete Calvin and Hobbes',
        'Words of Radiance (The Stormlight Archive, #2)',
        'Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)',
        'ESV Study Bible', 'Mark of the Lion Trilogy'],
       dtype='object', name='title'),
 Index(['authors', 'average_rating'], dtype='object')]

In [50]:
booksCollection.iloc['The Complete Calvin and Hobbes']

TypeError: Cannot index by location index with a non-integer key

In [51]:
booksCollection.loc['The Complete Calvin and Hobbes']

authors           Bill Watterson
average_rating              4.82
Name: The Complete Calvin and Hobbes, dtype: object